.page-section {
    padding: 1.2rem 0; 
    
    @include tablet {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $primary-color;
        color: #fff;
    }
    
    &--testimonials {
        background-color: #e0e6ef;

        @include tablet {
            background: url('assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }
    }
}

.row {

    &--t-padding {
        padding-top: 80px;
    }
    
    .textbox {
        p {
            font-weight: 300;
            line-height: 1.65;
            margin: 0 0 1.8rem 0;
            font-size: 1rem;

            @include mobile {
                font-size: 1.125rem;
            }

            a {
                font-weight:700;
            }
        }
    }
    
    @include tablet {  
        .textbox {
            padding: 0 $padding;
        } 

        &.__35-65 {
            @include grid-unequal(35%, 1, 30px); 
        }

        &.__2x2 {
            @include grid-equal(2,2, 75px, 75px)
        }

        &.__3x1 {
            @include grid-equal(3, 1, 50px, 0)
        }
    }
}



