.page-section {
    padding: 1.2rem 0; 
    
    @include tablet {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $primary-color;
        color: #fff;
    }  
}

.row {
    
    .textbox {
        p {
            font-weight: 300;
            line-height: 1.65;
            margin: 0 0 1.8rem 0;
            font-size: 1rem;

            @include mobile {
                font-size: 1.125rem;
            }

            a {
                font-weight:700;
            }
        }
    }
    
    @include tablet {  
        .textbox {
            padding: 0 $padding;
        } 

        &.__35-65 {
            @include grid-unequal(35%, 1, 30px); 
        }

        &.__2x2 {
            @include grid-equal(2,2, 75px, 75px)
        }
    }
}

.features__item {
    
    margin-bottom: 5rem;

    @include tablet {
        display: grid;
        grid-template-columns: 2fr 8fr;
        grid-column-gap: 10px;
        margin: 0;
    }
    

    &--icon {
        display: block;
        width: 20%;
        margin: 0 auto 20px;

        @include tablet {
            width: 70%;
            margin: 0;
        }
    }

    &-hl {
        margin: 0 0 0.8rem;
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
        @include tablet {
            text-align: left;
            font-size: 1.875rem;
        }
    }
}

